
@{
    ViewData["Title"] = "Account Index";
}
<ul>
    @foreach (var user in Model.Users)
    {
        <li>
            <a asp-route="CreateUserRelationship"
               asp-route-UserID="@Model.UserID"
               asp-route-FriendID="@user.Id">
                Send Friend Request to @user.UserName
            </a>
        </li>
    }
</ul>
